@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');


:scope {
  --danger: #e74c3c;
  --info: #f1c40f;
  --standard: #3498db;
}

* {
  padding: 0;
  margin: 0;  
  font-size: 1.1rem;
  font-family: 'Roboto Condensed', sans-serif;
}

html, body, #root, .App {
  height: 100%;
}

.fa-icon {
  font-size: .75rem;
  margin: 0 .10rem 0 1rem;
}

.danger {
  background-color: var(--danger);
}

.info {
  background-color: var(--info);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #ecf0f1; */
  background-image: linear-gradient(to bottom right, #f5f7fa, #c3cfe2);
  justify-content: center;
  width: 100%;
  
}

.root {
  background-color: white;
  height:  100%;
  width: 100%;  
  padding: 0 1rem;
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  align-items: center;
  border-radius: 4px;
}

@media only screen and (max-width: 1024px) {
  .root {
    width: 100vw;
    height: 100vh;
  }
}

header, header > * {
  width: 100%;
  padding: .5rem 0;
}

header > .title{
  text-align: center;
  font-size: 3rem;
}

header > .navigation {
  width: fit-content;
  margin: auto;
  padding: .25rem .25rem;
  border-radius: .25rem;
  color: #c02d2e;
  text-align: center;
  font-size: .75rem;
  background-color: #f6f6f6;
}


button {
  background-color: #27ae60;
  color: white;
  padding: .25rem 1rem .25rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  height: 2rem;
  border: 0;
}

button:hover {
  border: 1px black solid;
}


.small-button {
  font-size: 0.85rem; 
  padding: .15rem .5rem;
}

.standard {
  background-color: var(--standard);
}

.content {
  margin: .5rem 0;
  width: 100%;
  box-sizing: border-box;
  padding: 1.5rem;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
}

.content > hr {
  margin: 1rem 0 1rem 0;
  color: #bdc3c7;
}

.quick-buttons {
  display: inline-flex;
  /* width: 100%; */
  flex-flow: row;
  gap: 1rem;
  /* flex-grow: 1; */
  height: fit-content;
  flex-wrap: wrap;
}

.inline-input {
  padding: .25rem 1rem .25rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  border: #bdc3c7 1px solid;
}

.main-content {
  display: flex;
  flex-flow: column wrap;
  flex-grow: 1;
  box-sizing: border-box;
  width: 100%;
}

.edit-content {
  width: 100%;
  /* border: 1px black dotted; */
}

.edit-content * {
  margin: .25rem 0;
  width: 100%;
}

.folder {
  list-style-type: none;
  display: flex;
  flex-flow: column;
  overflow: auto;
}

.navLink {
  text-decoration: none;
  color: unset;
}

.folder li {
  padding: .20rem .25rem;
  border: #bdc3c7 1px solid;
  margin: .25rem 0;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  height: fit-content;
}

.folder li * {
  margin: 0 .4rem;
}

.folder li:hover {
  border: #7f8c8d 1px solid;
}

.folder li:active {
  border: #7f8c8d 2px solid;
}

/* Todo List items */
.item-content {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.item-content input[type=checkbox] {
  margin: auto 0px;
}

.item-name {
  flex-basis: 60%;
}

.item-completed {
  text-decoration: line-through;
}

.item-tools {
  flex-basis: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-lifetime {
  color: #7f8c8d;
  font-size: .75rem;
}

.item-buttons {
  display: flex;
  flex-basis: 25%;
  justify-content: space-between;
}

.fa-button:hover {
  color: red;
}

.item-details {
  display: flex;
  flex-direction: column;
}

.item-desc {
  color: #57606f;
  font-size: .95rem;
}

.item-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item-tags a {
  margin: .1rem .25rem;
  padding: .25rem .25rem;
  border-radius: .25rem;
  color: #c02d2e;
  text-align: center;
  font-size: .85rem;
  background-color: #f6f6f6;
  text-decoration: none;
}

.edit-form {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;

}

.edit-form * {
  margin: .5rem 0;
  padding: 0 .25rem;
  border: #bdc3c7 1px solid;
}

.flex-right {
  justify-content: flex-end;
}

.context-menu {
  position: absolute;
  z-index: 2;
  height: fit-content;
  width: fit-content;
  list-style-type: none;
  background-color: white;
  border-radius: 4px;
  border: 1px grey solid;
}

.context-menu li {
  font-size: .75rem;
  padding: .3rem 2rem;
  cursor:default;
  border: none;
}

.background-instructions {
  color: #535c68;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}

.empty-container {
  border: 1px #535c68 solid;
  border-radius: 4px;
}

.create-list-form {
  position: absolute;
  left: 50%;
  top: 50%;
  height: fit-content;
  display: flex;
  flex-flow: row wrap;
  padding: 1rem 2rem; 
  border-radius: 4px;
  box-shadow: 2px 2px 5px grey;
  z-index: 2;
  background-color: white;
}

.create-list-form * {
  margin: 0 .2rem;
}

.create-list-form input[type=text] {
  padding: 0 .5rem;
}

.confirmation-form {
  position: absolute;
  left: 50%;
  top: 50%;
  height: fit-content;
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem 2rem; 
  border-radius: 4px;
  box-shadow: 2px 2px 5px grey;
  z-index: 2;
  background-color: white;
}

.row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  margin: .4rem 0;
}

.row-center * {
  margin: 0 .5rem;
}

.todo-item {
  display: flex;
  flex-direction: column;
}

.todo-item-basic {
  width: 100%;
  height: fit-content;
  align-items: baseline;
  display: flex;
  flex-direction: row;
}

.todo-item-basic .item-title {
  flex-grow: 2;
}

.todo-item-detailed {
  
}
