:root {
    --nav-bottom-margin: 5rem;
    --narrow-width: 70%;
    --danger: #e74c3c;
    --warning: #f1c40f;
    --success: #2ecc71;
}

* {
    font-size: 1rem;
    font-family: sans-serif;
}

html, #root, body {
    height: 100%;
    box-sizing: border-box;
}

.App {
    padding: 0;
    margin: 0;
    background-color: white;
    height: 100%;
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
}

.home {
    width: inherit;
    height: fit-content;
    padding: 0;
}

.nav {
    background-color: #82ccdd;
    height: 2rem;
    display: flex;
    flex-flow: row nowrap;
    padding: 1rem;
    margin: 0 0 3rem 0;
}

.logo {
    height: fit-content;
    background-color: #2d3436;
    color: white;
    padding:.25rem 1rem;
    border: 0;
    border-radius: 4px;
}

.settings {
    margin-left: auto;
}

.content {
    width: 40%;
    margin: 0 auto;
    padding: 0;
    border: 1px lightgrey solid;
}

.title {
    width: 100%;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 0 1rem 0;
    text-align: center;
}

.quick-buttons {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.quick-buttons button {
    padding: .25rem 1rem;
    margin: 0 .25rem;
    border-radius: 0;
    font-size: .95rem;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    position: absolute;
    display: none;
    flex-direction: column;    
    z-index: 2;
    height: fit-content;
    width: fit-content;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.dropdown-content button:hover {
    background-color: #f1f1f1;
}

button {
    font-size: 1rem;
    padding:.5rem 1rem;
    border: 0;
    width: 7rem;
    border-radius: 4px;
}

.ul-todo, .ul-list {
    /* border: 1px red solid; */
    padding: 0 0rem;
}

.li-list {
    /* border: 1px blue solid; */
    background-color: #F7F9FB;
    margin: .25rem 0;
    padding: 0.5rem .5rem;
    display: flex;
    flex-direction: row;
}

.li-todo {
    /* border: 1px blue solid; */
    background-color: #F7F9FB;
    margin: .25rem 0;
    padding: 0.5rem .5rem;
    display: flex;
    flex-direction: column;
}

.li-todo * {
    margin: 0 0 .5rem 0;
}

.li-todo-basic {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.li-todo-basic input[type=checkbox] {
    margin: 0 .25rem;
}

.li-todo-right, .li-list-right {
    width: fit-content;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
}

.indicator {
    margin: 0 .4rem;
}

.indicator * {
    margin: 0 .15rem;
}

.indicator-count {
    color: grey;
}

/* Utility */

.success {
    background-color: #00b894;
}

.warning-text {
    color: var(--warning);
}

.danger-text {
    color: var(--danger)
}

/* Priorities */

.high-priority {
    border-left: 4px #e55039 solid;
}

.moderate-priority {
    border-left: 4px #e55039 solid;
}

.low-priority {
    border-left: 4px #e55039 solid;
}

/* Todo-form */
.todo-form {
    /* border: 1px black solid; */
    margin: 0;
    padding: .5rem;
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    margin: 0 0 1rem 0;
    padding: 0;
    /* border: 1px red solid; */
}

.input-group {
    display: flex;
    flex-direction: column;
    margin: 0 0 1rem 0;
    padding: 0;
}

.input-group label {
    margin: 0 0 .3rem 0;
}

.form-row .input-group {
    margin: 0 1rem 0 0;
}

input[type=text], select, textarea, option {
    /* Dynamic */
    border: 1px lightgrey solid;
    padding: .25rem .5rem;
    font-size: .9rem;
}

/* Login */

.login {
    box-sizing: border-box;
    border: 1px lightgray solid;
    padding: 0;
    margin: auto;
    margin-top: auto;
    background-color: #F7F9FB;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
}

